{% extends 'base.html.twig' %}

{% block title %}Новая статья{% endblock %}

{% block body %}
    <h1>Создание новой статьи</h1>

    {{ include('admin/article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">Вернуться к списку</a>
{% endblock %}
